#sidebar{
  z-index: 9999;
  position: fixed;
  transition: left 0.3s ease;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Initially hidden */
  width: 250px;
  height: 100vh;
  background-color: #f0f8ff;
  border-right: 2px solid #ddd;
  transition: 0.3s; /* Smooth slide effect */
  overflow: hidden;
  
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 16px;
  border-bottom: 1px #ddd;
}

.sidebar li a {
  text-decoration: none;
  color: black;
}

#toggleButton {
  z-index: 9999;
}

/* Toggle button */
.toggle-button {
  position: fixed;
  top: 20px;
  left: 10px;
  font-size: 24px;
  background-color: rgba(255, 187, 0, 0.937);
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 4px;
}

.toggle-button:hover {
  background-color: #ffaa00;
}


/* Initially hide the contact details */
#contact-details {
  position: absolute;
  top: 0; /* Will be dynamically adjusted */
  left: 60px; /* Default to align with the button */
  width: 300px; /* Adjust width as needed */
  background-color: #f9f9f9;
  color: #333;
  margin-left: -100px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-100%); /* Hidden above the button */
  transition: transform 0.5s ease; /* Smooth slide-in effect */
  z-index: 1000;
}

/* When visible, slide into view */
#contact-details.visible {
  transform: translateY(0); /* Slide into position */
  
}

